.contact {
    padding-bottom: 100px;
    .contact-wrap {
        max-width: 500px;
        margin: 0 auto;
        h3 {
            text-transform: uppercase;
            font-size: 24px;
        }
        .contact-form {
            padding: 20px;
            background-color: #0e1a2b;
            margin-top: 50px;
            .required {
                color: #5692e8;
            }
            .send-button {
                text-align: right;
                margin-bottom: 0;
            }
            .column6 {
                @media screen and (max-width: 575px) {
                    width: 100%;
                }
            }
        }
    }
}